<h1>Reverse String</h1>
<p>You had entered:</p>
<p>String to Reverse - <%= params[:post][:string] %></p>
<p>String Reversed - <%= params[:post][:string].reverse %></p>
<p>Click <a href="/">here</a> to try a new string to reverse.</p>