<h1>String to Reverse</h1>
<p>The example will reverse the string on the next page.</p>
<form action="/reverse" method="post" accept-charset="utf-8">
String to reverse: <input type="text" name="post[string]" value="" id="string" /><br />
<input type="submit" value=".. and reverse it!">
</form>